* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem;
}

.table-container {
  width: 100%;
}

table {
  border-collapse: collapse;
}

table > thead > tr {
  height: 2rem;
}

table tr {
  border: 1px solid #333;
}

table td, table th {
  border-right: 1px solid #333;
}

table > tbody > tr > td {
  padding: 0.25rem;
}

.table-head, .table-body {
  border: 1px solid #333;
}

.table-head .header-cell:not(:last-child) {
  border-right: 1px solid black;
}

.table-body .row:not(:last-child) {
  border-bottom: 1px solid black;
}

.header-cell {
  /* border-top: 1px solid black; */
  /* border-right: 1px solid black; */
  font-weight: bold;
  padding: 0.25rem;
  white-space: nowrap;
}

.cell {
  padding: 0.25rem;
  white-space: nowrap;
}

.cell:not(:last-child) {
  border-right: 1px solid black;
}

.info {
  padding: 1rem;
  border-radius: 0.25rem;
  background: #333;
  color: #fff;
  margin-bottom: 0.5rem;
}
